@mixin box($w: auto, $h: auto, $r: 0, $b: transparent) {
  width: $w;
  height: $h;
  border-radius: $r;
  background-color: $b;
}
@mixin text($f: 16px, $c: black, $a: center, $w: 400) {
  font-size: $f;
  color: $c;
  font-weight: $w;
  text-align: $a;
}

@mixin flex($j: center, $a: center, $d: row) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

@mixin view($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin view1() {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
